@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

/*Generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --color-text:#fefcff;
}

  

html, body{
  height: 100%;
}
/*Fin generales*/

body{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
 
  font-family: 'Kdam Thmor Pro', sans-serif;
  color:var(--color-text);
  background:#242132;
  perspective-origin: 1000;
  overflow: hidden;
  
}

.container{
  position: relative;
  height: 90%;
  width:100%;
  display: flex;
  flex-direction:row;
  
  justify-content:end;
  align-items: center;
 
  perspective-origin: 1000;
  align-content: center;
  
}
/*Footer*/
footer{
  
  bottom: 0;
  width: 100%;
  height: 15vh;
  background: transparent;
  display: flex;
  justify-content:center;
  align-items: center;
  color: var(--color-text);
  font-size: 10px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  padding-left: 5%;
  padding-right: 5%;
 
 
}

.footerText{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-right: 30px;
  font-weight:100;

}

.icons{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 30px;
}

.icons .social{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

}

.social  li{
background: transparent;
margin: 0 10px;
list-style: none;
min-width: fit-content;


}
.social li a{
  text-decoration: none;
  list-style: none;
  color: var(--color-text);
  font-size: 10px;
  font-family: 'Kdam Thmor Pro', sans-serif;
}
img, svg {
  width: 4vh;
  height: 4vh;
 fill: var(--color-text);
  
}



/*Fin footer*/
 
  
main{
 
  
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  width: 100%;
  height: 45vh;
  
 

  min-width: 300px;
  min-height: 300px;
  overflow: hidden;

  
  
}

aside{
  
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  

  height: 40vh;
  width: 20%;
  max-width:300px;
  z-index: 100;
 
  
}
aside h1{
  font-size: 4vh;
 
  font-family: 'Kdam Thmor Pro', sans-serif;
  color:var(--color-text);
  text-align: center;
 
  text-shadow: 3px 3px 3px #000;
  text-justify: center;
}







#tablero{ 
  position: relative;

  
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1vh;
  background: transparent;
  text-align: center;
 
  box-sizing: border-box;
 

  
}
#tablero h1{
  font-size: 4vh;
  font-family: 'Kdam Thmor Pro', sans-serif;
  color:var(--color-text);
  text-shadow: 3px 3px 3px #000;
  text-justify: center;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}
  
.tarjeta,.cara{
  height: 40px;
  width: 40px;
  border-radius: 10%;
  min-height: 25px;
  min-width: 25px;
  max-width: 10vh;
  max-height: 10vh;
  cursor: pointer;
  user-select: none;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  line-height: 40px;
}

.tarjeta{
  position: relative;
  transform-style: preserve-3d;
  transition:0.5s ;
  -webkit-transition:0.5s ;
  -moz-transition:0.5s ;
  -ms-transition:0.5s ;
  -o-transition:0.5s ;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  box-shadow: #000 0px 0px 3px 2px;
}
.cara{
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

}
.trasera{
  transform: rotateY(180deg);
  background: #fefcff;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  color: #000;

  
  overflow: hidden;
  
}
.frontal{
  transform: rotateY(0deg);
  background: #746cfe;
  color: #000;
  
  text-justify:center;
  text-align: center;
 
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}

#startButton{
  display: block;
  background: #ae8cfa;
  border: none;
  height:4vh;
  padding-left: 2vh;
  padding-right: 2vh;
  line-height: 2vh;
  font-size: 2vh;
  font-family: 'Kdam Thmor Pro', sans-serif;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  box-shadow: 3px 3px 5px #000;
  overflow: hidden;
}
#startButton:hover{
  background: #182848d3;
  box-shadow: 3px 3px 5px #000;
}



.tableroPuntos{
  text-transform:uppercase;
  display: flex;
  flex-direction: column;
  margin-top: 10%;

}
.tableroPuntos .intentos, .tableroPuntos .aciertos{
  font-size: 2vh;
  font-family: 'Kdam Thmor Pro', sans-serif;
  color:var(--color-text);
  text-align: center;
  margin-bottom: .5rem;
  text-shadow: 3px 3px 3px #000;
  font-style: italic;
}

.tableroPuntos .intentos span, .tableroPuntos .aciertos span{
  font-size: 2vh;
  font-family: 'Kdam Thmor Pro', sans-serif;
  color:var(--color-text);
  text-align: center;
  margin-bottom: .5rem;
  text-shadow: 3px 3px 3px #000;
  font-style:normal;
} 



@media  (max-width:480px) {

  .container{
    flex-direction: column;
  }

  aside{
  
      
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    
    width: 90vw;
    height: 40vh;
    
   
    
  }
  
  
}

@media  (min-width:1000px) {

  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
  }
  .tarjeta,.cara{
    height: 60px;
    width: 60px;

    line-height: 60px;
  }
  
}